
.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}
.login-form{
  display: flex;
  flex-direction: column;
  align-content: center;
  border: none;
  margin: 0 auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000;
  
}
.form-group{
  display: flex;
  margin-top: 8px;
  width: 300px;
}
.image-1{
  position: absolute;
}
input{
  padding-left: 5px;
  height: 25px;
  width: 100%;
}
button{
  margin-top: 20px;
  background-color: rgb(87,80,242);
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
}
.fp, a{
  text-align: center;
  text-decoration-line: none;
  margin-top: 20px;
  z-index: 999;
}
.error{
  color: red;
}
.success{
  color: green;
}

@media screen and (min-width: 320px) and (max-width:480px) {
  .login-page {
    width: 100%; /* Set the width to 100% to occupy full screen width */
    height: 100vh; /* Use full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust the width to your preference */
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1000;
  }
  input {
    width: 100%;
  }
}